
title::before {
    content: "General CSS Styles";

}
body{
    /* content: ""; */
    height: calc(100vh - 56px);
}
.empty{
    content: "";
}
#logo{
    color: #0033A0;
}
#dot{
    content:"";
}
#line{
    content:"";
}




